<% if logged_in? %>
  <p>manage ログイン完了ユーザ: <%= current_user.name %></p>
  <table class="table">
    <tr>
      <th class="text-center">No.</th>
      <th class="text-center">コース内容</th>
      <th class="text-center">ユーザーid</th>
      <th class="text-center">ステータス</th>
      <th class="text-center">変更</th>
    </tr>
    <% @ticket_all.each do |ticket| %>
      <tr>
        <th class="text-center"><%= ticket.id %></th>
        <td class="text-center"><%= ticket.course %></td>
        <td class="text-center"><%= ticket.user_id %></td>
        <td class="text-center"><%= ticket.status %></td>
        <td class="text-center">
          <%= link_to "Delete", tickets_destroy_path(ticket.id), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </table>
  <div>
    <%= link_to '管理-チケット登録', tickets_new_path %>
  </div>

<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Tickets.index </h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
