<h1>チケット登録</h1>
<p>ログインユーザ: <%= current_user.name %></p>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(url: tickets_create_path) do |f| %>
    
      <div class="mb-3">
        <%= f.label :日付　開始時間：, class: 'control-label' %>
        <%= f.datetime_field :created_at, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :コース：,  class: 'control-label'%>
        <%= f.text_field :course, class: 'form-control' %>
      </div>
    
      <%= f.submit '登録', class: 'btn btn-primary btn-sm' %>
    <% end %>

  </div>
</div>

<%= link_to '管理-チケット一覧', root_path %>
