<% if logged_in? %>
  <p>ログインユーザ: <%= current_user.name %></p>
  <% if current_user.is_admin %>
    <table class="table">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">日時</th>  
        <th class="text-center">コース内容</th>
        <th class="text-center">ユーザーid</th>
        <th class="text-center">予約状況</th>
        <th class="text-center">変更</th>
      </tr>
    <% @ticket_all.each do |ticket| %>
      <tr>
        <th class="text-center"><%= ticket.id %></th>
        <td class="text-center">
          <% if ticket.appt_datetime  %>
            <%= ticket.appt_datetime.to_s(:datetime_jp) %></td>
          <% else %>
            <%= "　　" %>   
          <% end %>
        <td class="text-center"><%= ticket.course %></td>
        <td class="text-center"><%= ticket.user_id %></td>
        <td class="text-center">
          <% case ticket.status %>
          <% when 1 then%>
            <%= "予約可" %>
          <% when 2 then%>
            <%= "予約中" %>
          <% else %>
            <%= ticket.status %>  
          <% end %>        
        </td>
        <td class="text-center">
      <%# if ticket.status != 2 %>  
            <%= link_to "Delete", tickets_destroy_path(ticket.id), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <%# end %> 
        </td>
      </tr>
    <% end %>
    </table>
    <div>
      <%= link_to '管理-チケット登録', tickets_new_path %>
    </div>
  <% else %>
    <table class="table">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">日時</th>  
        <th class="text-center">コース内容</th>      
        <th class="text-center">予約状況</th>
        <th class="text-center">予約</th>
      </tr>
      <% @ticket.each do |ticket| %>
      <tr>
        <th class="text-center"><%= ticket.id %></th>
        <td class="text-center">
          <% if ticket.appt_datetime  %>
            <%= ticket.appt_datetime.strftime("%Y年 %m月 %d日 %H時 %M分") %></td>
          <% else %>
            <%= "　　" %>   
          <% end %>         
        <td class="text-center"><%= ticket.course %></td>
        <td class="text-center">
          <% if ticket.status == 1  %>
            <%= "予約可" %>
          <% else %>
            <% if ticket.user_id == current_user.id %>
              <%= "予約中" %>
            <% else %>
              <%= "予約不可" %>
            <% end %>                
          <% end %>        
        </td>
        <td class="text-center">
          <% if ticket.status == 1  %>
            <%= link_to "予約", tickets_edit_path(ticket.id), method: :get, data: { confirm: "You sure?" }, class: 'btn btn-primary btn-sm' %>
          <% else %>
            <% if ticket.user_id == current_user.id %>
              <%= link_to "取消", tickets_edit_path(ticket.id), method: :get, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% else %>

            <% end %>
          <% end %>       
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>    
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Tickets.index </h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
